# Object files
*.o
*.ko
*.obj
*.elf

# python pre-compiled files
*.pyc
.*.pyc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Vim swap files
.*.swp

# Directory files - KDE
.directory

# Uso Pessoal
matriculas/
processos/
eng_comp_ufg/
vestibular/
email*.txt
astah_professional_license.xml
gru/
