/Carro.class
/Contato.class
/Dedo.class
/Departamento.class
/Escola.class
/Fornecedor.class
/Item.class
/Mao.class
/Motor.class
/NotaFiscal.class
/TesteCarro.class
/TesteEscola.class
/TesteFornecedor.class
/TesteMao.class
/TesteNotaFiscal.class
