/Mamifero.class
/Cachorro.class
/Vaca.class
/TesteMamifero.class
/Telefone.class
/Fixo.class
/Movel.class
/TesteTelefone.class
/ItemDeCardapio.class
/Bebida.class
/Sobremesa.class
/Peso.class
/Comida.class
/TesteItemDeCardapio.class
